@font-face {
  font-family: Fontello;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot?#iefix) format("embedded-opentype"),url(../fonts/fontello/fontello.woff) format("woff"),url(../fonts/fontello/fontello.woff2) format("woff2"),url(../fonts/fontello/fontello.ttf) format("truetype")
}
@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ProximaNovaBold/ProximaNovaBold.eot);
  src: url(../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNovaBold/ProximaNovaBold.woff) format("woff"),url(../fonts/ProximaNovaBold/ProximaNovaBold.woff2) format("woff2"),url(../fonts/ProximaNovaBold/ProximaNovaBold.ttf) format("truetype")
}
@font-face {
  font-family: ProximaNovaExCn;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ProximaNovaExCnBold/ProximaNovaExCnBold.eot);
  src: url(../fonts/ProximaNovaExCnBold/ProximaNovaExCnBold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNovaExCnBold/ProximaNovaExCnBold.woff) format("woff"),url(../fonts/ProximaNovaExCnBold/ProximaNovaExCnBold.woff2) format("woff2"),url(../fonts/ProximaNovaExCnBold/ProximaNovaExCnBold.ttf) format("truetype")
}
@font-face {
  font-family: ProximaNovaExCn;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ProximaNovaExCnRegular/ProximaNovaExCnRegular.eot);
  src: url(../fonts/ProximaNovaExCnRegular/ProximaNovaExCnRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNovaExCnRegular/ProximaNovaExCnRegular.woff) format("woff"),url(../fonts/ProximaNovaExCnRegular/ProximaNovaExCnRegular.woff2) format("woff2"),url(../fonts/ProximaNovaExCnRegular/ProximaNovaExCnRegular.ttf) format("truetype")
}
@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.eot);
  src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNovaRegular/ProximaNovaRegular.woff) format("woff"),url(../fonts/ProximaNovaRegular/ProximaNovaRegular.woff2) format("woff2"),url(../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf) format("truetype")
}
@font-face {
  font-family: ProximaNova;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot);
  src: url(../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.woff) format("woff"),url(../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.woff2) format("woff2"),url(../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.ttf) format("truetype")
}
@font-face {
  font-family: Roboto;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RobotoBlack/RobotoBlack.eot);
  src: url(../fonts/RobotoBlack/RobotoBlack.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoBlack/RobotoBlack.woff) format("woff"),url(../fonts/RobotoBlack/RobotoBlack.woff2) format("woff2"),url(../fonts/RobotoBlack/RobotoBlack.ttf) format("truetype")
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RobotoBold/RobotoBold.eot);
  src: url(../fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoBold/RobotoBold.woff) format("woff"),url(../fonts/RobotoBold/RobotoBold.woff2) format("woff2"),url(../fonts/RobotoBold/RobotoBold.ttf) format("truetype")
}
@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RobotoLight/RobotoLight.eot);
  src: url(../fonts/RobotoLight/RobotoLight.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoLight/RobotoLight.woff) format("woff"),url(../fonts/RobotoLight/RobotoLight.woff2) format("woff2"),url(../fonts/RobotoLight/RobotoLight.ttf) format("truetype")
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RobotoMedium/RobotoMedium.eot);
  src: url(../fonts/RobotoMedium/RobotoMedium.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoMedium/RobotoMedium.woff) format("woff"),url(../fonts/RobotoMedium/RobotoMedium.woff2) format("woff2"),url(../fonts/RobotoMedium/RobotoMedium.ttf) format("truetype")
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/RobotoRegular/RobotoRegular.eot);
  src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"),url(../fonts/RobotoRegular/RobotoRegular.woff2) format("woff2"),url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}
[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none
}
.icon-plus:before {
  content: "\e800"
}
.icon-minus:before {
  content: "\e801"
}
.icon-bread_arrow:before {
  content: "\e802"
}
.icon-btn_arrow:before {
  content: "\e803"
}
.icon-check:before {
  content: "\e804"
}
.icon-close:before {
  content: "\e805"
}
.icon-download:before {
  content: "\e806"
}
.icon-mail:before {
  content: "\e807"
}
.icon-mark:before {
  content: "\e808"
}
.icon-more_arrow:before {
  content: "\e809"
}
.icon-mslider_arrow:before {
  content: "\e80a"
}
.icon-phone:before {
  content: "\e80b"
}
.icon-play:before {
  content: "\e80c"
}
.icon-quote:before {
  content: "\e80d"
}
.icon-social_fb:before {
  content: "\e80e"
}
.icon-social_vk:before {
  content: "\e80f"
}
.icon-social_yt:before {
  content: "\e810"
}
.icon-search:before {
  content: "\e811"
}
.icon-social_tg:before {
  content: "\e812"
}
:root {
  --app-height: 100%
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0
}
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
p,
ul[class] {
  margin: 0
}
ol[class],
ul[class] {
  padding: 0;
  list-style-type: none
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: #00a1d8
}
a:not([class]):hover {
  text-decoration: none;
  color: #003953
}
a[class] {
  text-decoration: none
}
button,
input,
select,
textarea {
  font: inherit
}
button,
label {
  cursor: pointer
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0,57,83,.8);
  background-color: #fff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  scrollbar-face-color: rgba(0,57,83,.8);
  scrollbar-track-color: #f5f8fa
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0
}
body::-webkit-scrollbar-thumb {
  background: rgba(0,57,83,.8);
  border-radius: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}
body::-webkit-scrollbar-thumb:hover {
  background: #00a1d8
}
body::-webkit-scrollbar-track {
  background: #f5f8fa;
  border-radius: 0
}
body.overflow {
  overflow: hidden
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}
.header__top {
  background-color: #f5f8fa;
  border-bottom: 1px solid #cad6e1;
  padding: 15px 0;
  -webkit-transition: padding .3s;
  -o-transition: padding .3s;
  transition: padding .3s
}
.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__top .langs-block {
  margin: 0 auto 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 35px
}
.header__top .langs-block .langs {
  position: relative;
  padding-right: 20px
}
.header__top .langs-block .langs:after {
  content: "";
  display: block;
  width: 1px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  right: 0;
  background-color: #cad6e1
}
.header__top .langs-block .langs .cur-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  cursor: pointer
}
.header__top .langs-block .langs .cur-lang:after {
  content: "\e803";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: rgba(0,57,83,.37);
  font-size: 18px;
  line-height: 18px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 0 0 0 15px;
  position: relative;
  top: 1px
}
.header__top .langs-block .langs .cur-lang .lang-icon {
  display: inline-block;
  margin: 0;
  pointer-events: none
}
.header__top .langs-block .langs .langs-list {
  position: absolute;
  top: 100%;
  left: -10px;
  min-width: 160px;
  background-color: #fff;
  border: 1px solid #cad6e1;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 3px;
  margin: 15px 0;
  padding: 10px 0
}
.header__top .langs-block .langs .langs-list__item {
  display: block;
  width: 100%;
  margin-top: 5px
}
.header__top .langs-block .langs .langs-list__item:nth-of-type(1) {
  margin-top: 0
}
.header__top .langs-block .langs .langs-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #002537;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.header__top .langs-block .langs .langs-list__link:hover {
  background-color: #f5f8fa
}
.header__top .langs-block .langs .langs-list__icon {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 10px 0 0
}
.header__top .langs-block .phone-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #002537;
  margin: 0 0 0 17px;
  position: relative
}
.header__top .langs-block .phone-link:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cad6e1;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s
}
.header__top .langs-block .phone-link:hover:before {
  width: 100%
}
.header__top .search-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 15px 0 0
}
.header__top .search-block .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__top .search-block .search-form .input-group {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto
}
.header__top .search-block .search-form .input-group.txt-group {
  width: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  overflow: hidden;
  margin: 0 10px 0 0
}
.header__top .search-block .search-form .input-group.txt-group input {
  display: block;
  width: 100%;
  color: rgba(0,57,83,.8);
  border: 1px solid #cad6e1;
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  font-size: 14px;
  line-height: 18px
}
.header__top .search-block .search-form .input-group.txt-group input.placeholder {
  color: rgba(0,57,83,.53)
}
.header__top .search-block .search-form .input-group.txt-group input::-webkit-input-placeholder {
  color: rgba(0,57,83,.53)
}
.header__top .search-block .search-form .input-group.txt-group input::-moz-placeholder {
  color: rgba(0,57,83,.53)
}
.header__top .search-block .search-form .input-group.txt-group input:-moz-placeholder {
  color: rgba(0,57,83,.53)
}
.header__top .search-block .search-form .input-group.txt-group input:-ms-input-placeholder {
  color: rgba(0,57,83,.53)
}
.header__top .search-block .search-form .input-group.txt-group input:focus {
  border-color: #00a1d8
}
.header__top .search-block .search-form .input-group.txt-group input.error {
  border-color: red
}
.header__top .search-block .search-form .input-group.btn-group {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  width: 30px
}
.header__top .search-block .search-form .input-group.btn-group .search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #003953;
  font-size: 22px;
  line-height: 22px;
  padding: 5px 6px 6px
}
.header__top .search-block .search-form.show .input-group.txt-group {
  width: 320px
}
.header__top .links-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header__top .links-block .enter-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  border: 1px solid #ff7a5f;
  background-color: #fff;
  color: #ff7a5f;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  padding: 9px 13px;
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  margin-right: 6px
}
.header__top .links-block .enter-link:hover {
  background-color: snow
}
.header__top .links-block .enter-link:focus {
  background-color: #fff2f2
}
.header__top .links-block .demo-link {
  background-color: #ff7a5f;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.header__top .links-block .demo-link:hover {
  background-color: #ff8b66
}
.header__top .links-block .demo-link:focus {
  background-color: #ed6347
}
.header__bottom {
  background-color: #fff;
  border-bottom: 1px solid #cad6e1;
  padding: 20px 0 15px;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s
}
.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__bottom .logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto
}
.header__bottom .logo-link svg {
  display: block
}
.header__bottom .logo-link .telemetron-logo {
  -webkit-transition: margin .3s;
  -o-transition: margin .3s;
  transition: margin .3s
}
.header__bottom .logo-link .telemetron-logo g {
  -webkit-transition: opacity .3s,-webkit-transform .7s;
  transition: transform .7s,opacity .3s,-webkit-transform .7s;
  -o-transition: transform .7s,opacity .3s
}
.header__bottom .menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto
}
.header__bottom .menu-block .products-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 auto
}
.header__bottom .menu-block .products-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__bottom .menu-block .products-menu__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin-right: 35px;
  padding: 15px 0;
  position: relative;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s
}
.header__bottom .menu-block .products-menu__item .submenu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  border: 1px solid #cad6e1;
  border-radius: 3px;
  padding: 10px 0;
  min-width: 240px
}
.header__bottom .menu-block .products-menu__item .submenu-list:before {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid #cad6e1;
  position: absolute;
  left: 10px;
  top: -12px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -o-transition: transform .3s,opacity .3s
}
.header__bottom .menu-block .products-menu__item .submenu-list:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 11px solid #fff;
  position: absolute;
  left: 11px;
  top: -11px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -o-transition: transform .3s,opacity .3s
}
.header__bottom .menu-block .products-menu__item .submenu-list.active:after,
.header__bottom .menu-block .products-menu__item .submenu-list.active:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.header__bottom .menu-block .products-menu__item .submenu-list__item {
  display: block
}
.header__bottom .menu-block .products-menu__item .submenu-list__link {
  display: block;
  padding: 8px 15px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #002537;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.header__bottom .menu-block .products-menu__item .submenu-list__link:hover {
  background-color: #f5f8fa
}
.header__bottom .menu-block .products-menu__link {
  display: inline-block;
  text-transform: uppercase;
  color: #002537;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: .01em;
  font-family: ProximaNovaExCn,sans-serif;
  font-weight: 700;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s
}
.header__bottom .menu-block .products-menu__link:hover {
  color: #0097ca
}
.header__bottom .menu-block .main-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 0 0 auto
}
.header__bottom .menu-block .main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__bottom .menu-block .main-menu__item {
  margin-left: 35px;
  padding: 15px 0;
  position: relative;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s
}
.header__bottom .menu-block .main-menu__item .submenu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  border: 1px solid #cad6e1;
  border-radius: 3px;
  padding: 10px 0;
  min-width: 240px
}
.header__bottom .menu-block .main-menu__item .submenu-list:before {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid #cad6e1;
  position: absolute;
  left: 10px;
  top: -12px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -o-transition: transform .3s,opacity .3s
}
.header__bottom .menu-block .main-menu__item .submenu-list:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 11px solid #fff;
  position: absolute;
  left: 11px;
  top: -11px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -o-transition: transform .3s,opacity .3s
}
.header__bottom .menu-block .main-menu__item .submenu-list.active:after,
.header__bottom .menu-block .main-menu__item .submenu-list.active:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.header__bottom .menu-block .main-menu__item .submenu-list__item {
  display: block
}
.header__bottom .menu-block .main-menu__item .submenu-list__link {
  display: block;
  padding: 8px 15px;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #002537;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.header__bottom .menu-block .main-menu__item .submenu-list__link:hover {
  background-color: #f5f8fa
}
.header__bottom .menu-block .main-menu__link {
  display: inline-block;
  text-transform: uppercase;
  color: #002537;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: .01em;
  font-family: ProximaNovaExCn,sans-serif;
  font-weight: 700;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s
}
.header__bottom .menu-block .main-menu__link:hover {
  color: #0097ca
}
.header.scroll .header__top {
  padding: 10px 0
}
.header.scroll .header__bottom {
  padding: 5px 0
}
.header.scroll .header__bottom .telemetron-logo {
  margin: -20px 0
}
.header.scroll .header__bottom .telemetron-logo g#robot {
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
  opacity: 0
}
.header.scroll .header__bottom .telemetron-logo g#text {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px)
}
.header.scroll .header__bottom .menu-block .main-menu__item,
.header.scroll .header__bottom .menu-block .products-menu__item {
  padding: 6px 0
}
.header + main {
  padding-top: var(--header-height)
}
.fullslider-section {
  position: relative
}
.fullslider-section .slide-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.fullslider-section .slide-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 110px 0
}
.fullslider-section .slide-item__content__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  color: #fff
}
.fullslider-section .slide-item__content__descr .slide-title {
  font-size: 48px;
  line-height: 55px;
  font-family: ProximaNova,sans-serif;
  font-weight: 600
}
.fullslider-section .slide-item__content__descr .slide-descr {
  font-family: Roboto,sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px
}
.fullslider-section .slide-item__content__descr .slide-descr ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none
}
.fullslider-section .slide-item__content__descr .slide-descr ul li {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 15px
}
.fullslider-section .slide-item__content__descr .slide-descr ul li:before {
  content: "\e804";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 14px;
  line-height: 14px
}
.fullslider-section .slide-item__content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.fullslider-section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 20px;
  height: 0;
  width: 100%;
  max-width: calc(100% - 40px);
  z-index: 1
}
.fullslider-section__navigation .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: rgba(48,75,87,.25);
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.fullslider-section__navigation .nav-btn .icon {
  position: relative;
  left: -1px
}
.fullslider-section__navigation .nav-btn:hover {
  background-color: rgba(48,75,87,.4)
}
.fullslider-section__navigation .nav-btn:focus {
  background-color: rgba(48,75,87,.6)
}
.fullslider-section__navigation .nav-btn.next-btn {
  margin: 0 0 0 auto;
  -webkit-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  transform: scale(-1,1)
}
.fullslider-section__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 25px!important;
  left: 0;
  z-index: 1
}
.fullslider-section__pagination .swiper-pagination-bullet {
  border: 1px solid #fff;
  background-color: transparent;
  width: 13px;
  height: 13px;
  opacity: .5;
  margin: 0 5px!important;
  -webkit-transition: border-color .3s,background-color .3s;
  -o-transition: border-color .3s,background-color .3s;
  transition: border-color .3s,background-color .3s
}
.fullslider-section__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fff
}
.product-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 40px
}
.product-page__content__left-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%
}
.product-page__content__left-side .product-slider .product-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0
}
.product-page__content__left-side .product-slider .product-slide .product-image {
  display: block;
  width: auto;
  max-width: 320px;
  margin: 0 auto
}
.product-page__content__left-side .thumbs-slider {
  max-width: 500px;
  margin-top: 35px
}
.product-page__content__left-side .thumbs-slider .thumb-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #cad6e1;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s
}
.product-page__content__left-side .thumbs-slider .thumb-slide.swiper-slide-thumb-active,
.product-page__content__left-side .thumbs-slider .thumb-slide:hover {
  border-color: #00a1d8
}
.product-page__content__left-side .thumbs-slider .thumb-slide .thumb-image {
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: 100%
}
.product-page__content__right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  padding-left: 5%
}
.product-page__content__right-side .breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.product-page__content__right-side .breadcrumbs-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 10px 10px 0
}
.product-page__content__right-side .breadcrumbs-list__item:before {
  content: "\e802";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0 10px 0 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 13px;
  color: #9ab1bc
}
.product-page__content__right-side .breadcrumbs-list__item:nth-of-type(1):before {
  display: none
}
.product-page__content__right-side .breadcrumbs-list__link {
  font-size: 13px;
  line-height: 13px;
  color: #9ab1bc;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s
}
.product-page__content__right-side .breadcrumbs-list__link:hover {
  color: #003953
}
.product-page__content__right-side .breadcrumbs-list__last {
  font-size: 13px;
  line-height: 13px;
  color: #9ab1bc
}
.product-page__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #003953;
  display: block;
  margin-top: 10px
}
.product-page__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px
}
.product-page__price .old-price {
  font-size: 18px;
  line-height: 20px;
  text-decoration: line-through
}
.product-page__price .old-price + .price {
  margin-left: 10px
}
.product-page__price .price {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #003953
}
.product-page__info {
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px
}
.product-page__info p {
  margin-top: 15px
}
.product-page__info p:nth-of-type(1) {
  margin-top: 0
}
.product-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 480px;
  margin-top: 30px;
  border: 1px solid #cad6e1;
  border-radius: 3px;
  padding: 20px
}
.product-page__form .input-group {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto
}
.product-page__form .input-group.count-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 130px
}
.product-page__form .input-group.count-group .count-btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  color: #00a1d8;
  border: 1px solid #cad6e1
}
.product-page__form .input-group.count-group .count-btn.minus-btn {
  border-right: none;
  border-radius: 3px 0 0 3px
}
.product-page__form .input-group.count-group .count-btn.plus-btn {
  border-left: none;
  border-radius: 0 3px 3px 0
}
.product-page__form .input-group.count-group .count-input {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(100% - 80px);
  flex: 1 1 calc(100% - 80px);
  max-width: calc(100% - 80px);
  min-width: 39px;
  width: 100%;
  text-align: center;
  background-color: #f3f6f8;
  border: 1px solid #cad6e1;
  color: #315f74;
  font-size: 14px;
  line-height: 20px
}
.product-page__form .input-group.btn-group {
  margin-left: 10px;
  max-width: 155px
}
.product-page__form .input-group.btn-group .btn-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 20px
}
.product-page__form .input-group.available-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px
}
.product-page__form .input-group.available-group .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  display: inline-block;
  margin-right: 10px
}
.product-page__form .input-group.available-group .icon.icon-plus {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.product-page__form .input-group.available-group.available {
  color: #00a1d8
}
.product-page__form .input-group.available-group.notavailable {
  color: #ff7a5f
}
.product-page__descr .tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #cad6e1;
  padding: 0 15px
}
.product-page__descr .tabs-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 15px 0 0
}
.product-page__descr .tabs-list__item:last-child {
  margin: 0
}
.product-page__descr .tabs-list__link {
  display: block;
  font-weight: 500;
  color: #003953;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 30px;
  border: 1px solid #cad6e1;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  background-color: #f5f8fa;
  -webkit-transition: border-color .3s,background-color .3s;
  -o-transition: border-color .3s,background-color .3s;
  transition: border-color .3s,background-color .3s
}
.product-page__descr .tabs-list__link.active {
  border-bottom-color: transparent;
  background-color: #fff
}
.product-page__descr .tabs-content {
  padding: 30px 15px
}
.product-page__descr .tabs-content__item {
  display: none;
  min-height: 120px
}
.product-page__descr .tabs-content__item.active {
  display: block
}
.product-page__descr .tabs-content__item.instructions a {
  display: inline-block;
  color: #00a1d8;
  position: relative;
  padding-left: 30px
}
.product-page__descr .tabs-content__item.instructions a:before {
  content: "\e806";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  top: 0;
  left: 0
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  min-height: 250px
}
.page-header .breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.page-header .breadcrumbs-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 10px 10px 0
}
.page-header .breadcrumbs-list__item:before {
  content: "\e802";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0 10px 0 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 13px
}
.page-header .breadcrumbs-list__item:nth-of-type(1):before {
  display: none
}
.page-header .breadcrumbs-list__link {
  font-size: 13px;
  line-height: 13px;
  color: #fff
}
.page-header .breadcrumbs-list__link:hover {
  text-decoration: underline
}
.page-header .breadcrumbs-list__last {
  font-size: 13px;
  line-height: 13px
}
.page-header .page-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  display: block;
  margin-top: 10px
}
.page-header .tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px
}
.page-header .tags-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 5px 5px 0;
  min-width: 165px
}
.page-header .tags-list__link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  color: #fff;
  border: 1px solid #fff;
  position: relative
}
.page-header .tags-list__link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(0,57,83,.8);
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s
}
.page-header .tags-list__link:hover:after {
  width: 100%
}