@font-face {
  font-family: WorkSans;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansBold/WorkSansBold.eot);
  src: url(../fonts/WorkSansBold/WorkSansBold.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansBold/WorkSansBold.woff) format("woff"),url(../fonts/WorkSansBold/WorkSansBold.woff2) format("woff2"),url(../fonts/WorkSansBold/WorkSansBold.ttf) format("truetype")
}
@font-face {
  font-family: Fontello;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot?#iefix) format("embedded-opentype"),url(../fonts/fontello/fontello.woff) format("woff"),url(../fonts/fontello/fontello.woff2) format("woff2"),url(../fonts/fontello/fontello.ttf) format("truetype")
}
@font-face {
  font-family: WorkSans;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansExtraBold/WorkSansExtraBold.eot);
  src: url(../fonts/WorkSansExtraBold/WorkSansExtraBold.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansExtraBold/WorkSansExtraBold.woff) format("woff"),url(../fonts/WorkSansExtraBold/WorkSansExtraBold.woff2) format("woff2"),url(../fonts/WorkSansExtraBold/WorkSansExtraBold.ttf) format("truetype")
}
@font-face {
  font-family: WorkSans;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansLight/WorkSansLight.eot);
  src: url(../fonts/WorkSansLight/WorkSansLight.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansLight/WorkSansLight.woff) format("woff"),url(../fonts/WorkSansLight/WorkSansLight.woff2) format("woff2"),url(../fonts/WorkSansLight/WorkSansLight.ttf) format("truetype")
}
@font-face {
  font-family: WorkSans;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansMedium/WorkSansMedium.eot);
  src: url(../fonts/WorkSansMedium/WorkSansMedium.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansMedium/WorkSansMedium.woff) format("woff"),url(../fonts/WorkSansMedium/WorkSansMedium.woff2) format("woff2"),url(../fonts/WorkSansMedium/WorkSansMedium.ttf) format("truetype")
}
@font-face {
  font-family: WorkSans;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansRegular/WorkSansRegular.eot);
  src: url(../fonts/WorkSansRegular/WorkSansRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansRegular/WorkSansRegular.woff) format("woff"),url(../fonts/WorkSansRegular/WorkSansRegular.woff2) format("woff2"),url(../fonts/WorkSansRegular/WorkSansRegular.ttf) format("truetype")
}
@font-face {
  font-family: WorkSans;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/WorkSansSemiBold/WorkSansSemiBold.eot);
  src: url(../fonts/WorkSansSemiBold/WorkSansSemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/WorkSansSemiBold/WorkSansSemiBold.woff) format("woff"),url(../fonts/WorkSansSemiBold/WorkSansSemiBold.woff2) format("woff2"),url(../fonts/WorkSansSemiBold/WorkSansSemiBold.ttf) format("truetype")
}
[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none
}
.icon-air:before {
  content: "\e800"
}
.icon-appfacebook:before {
  content: "\e801"
}
.icon-appinstagram:before {
  content: "\e802"
}
.icon-applinkedin:before {
  content: "\e803"
}
.icon-apptwitter:before {
  content: "\e804"
}
.icon-appyoutube:before {
  content: "\e805"
}
.icon-aqua:before {
  content: "\e806"
}
.icon-arrow---down:before {
  content: "\e808"
}
.icon-arrow---forward:before {
  content: "\e809"
}
.icon-arrow---back:before {
  content: "\e80a"
}
.icon-arrow---up:before {
  content: "\e80b"
}
.icon-arrowlong-down:before {
  content: "\e80c"
}
.icon-attachment:before {
  content: "\e80d"
}
.icon-blog:before {
  content: "\e80e"
}
.icon-cloud:before {
  content: "\e80f"
}
.icon-bottle:before {
  content: "\e810"
}
.icon-bulb:before {
  content: "\e811"
}
.icon-camera:before {
  content: "\e812"
}
.icon-check_border:before {
  content: "\e813"
}
.icon-check_ok:before {
  content: "\e814"
}
.icon-droplet:before {
  content: "\e815"
}
.icon-cloudlocal:before {
  content: "\e816"
}
.icon-co2:before {
  content: "\e817"
}
.icon-cold:before {
  content: "\e818"
}
.icon-config:before {
  content: "\e819"
}
.icon-cross:before {
  content: "\e81a"
}
.icon-dash:before {
  content: "\e81b"
}
.icon-devices:before {
  content: "\e81c"
}
.icon-drainage:before {
  content: "\e81e"
}
.icon-folder:before {
  content: "\e81f"
}
.icon-droplettick:before {
  content: "\e820"
}
.icon-ec:before {
  content: "\e821"
}
.icon-edit:before {
  content: "\e822"
}
.icon-export:before {
  content: "\e823"
}
.icon-farms:before {
  content: "\e824"
}
.icon-filter:before {
  content: "\e825"
}
.icon-fingerprint:before {
  content: "\e826"
}
.icon-flask:before {
  content: "\e827"
}
.icon-flaskleaf:before {
  content: "\e828"
}
.icon-wifi:before {
  content: "\e829"
}
.icon-graph:before {
  content: "\e82a"
}
.icon-heart:before {
  content: "\e82b"
}
.icon-home:before {
  content: "\e82c"
}
.icon-humidity:before {
  content: "\e82d"
}
.icon-ignis:before {
  content: "\e82e"
}
.icon-ignismounting:before {
  content: "\e82f"
}
.icon-info:before {
  content: "\e830"
}
.icon-input:before {
  content: "\e831"
}
.icon-larger:before {
  content: "\e832"
}
.icon-lightingangled:before {
  content: "\e833"
}
.icon-lightingstraight:before {
  content: "\e834"
}
.icon-lock:before {
  content: "\e836"
}
.icon-manual:before {
  content: "\e837"
}
.icon-notifications:before {
  content: "\e838"
}
.icon-output:before {
  content: "\e839"
}
.icon-pause:before {
  content: "\e83a"
}
.icon-ph:before {
  content: "\e83b"
}
.icon-pin:before {
  content: "\e83c"
}
.icon-play:before {
  content: "\e83d"
}
.icon-plus:before {
  content: "\e83e"
}
.icon-power:before {
  content: "\e83f"
}
.icon-profile:before {
  content: "\e840"
}
.icon-qr-code:before {
  content: "\e841"
}
.icon-question:before {
  content: "\e842"
}
.icon-refresh:before {
  content: "\e843"
}
.icon-scope:before {
  content: "\e844"
}
.icon-search:before {
  content: "\e845"
}
.icon-send:before {
  content: "\e846"
}
.icon-settings:before {
  content: "\e847"
}
.icon-shield:before {
  content: "\e848"
}
.icon-smaller:before {
  content: "\e849"
}
.icon-sparkle:before {
  content: "\e84a"
}
.icon-sparkles:before {
  content: "\e84b"
}
.icon-sun:before {
  content: "\e84c"
}
.icon-sunrise:before {
  content: "\e84d"
}
.icon-tasks:before {
  content: "\e84e"
}
.icon-testtube:before {
  content: "\e84f"
}
.icon-thermometer:before {
  content: "\e850"
}
.icon-tick:before {
  content: "\e851"
}
.icon-tickbox:before {
  content: "\e852"
}
.icon-timer:before {
  content: "\e853"
}
.icon-transfer:before {
  content: "\e854"
}
.icon-usbc:before {
  content: "\e855"
}
.icon-warning:before {
  content: "\e856"
}
.icon-moon:before {
  content: "\e857"
}
:root {
  --app-height: 100%
}
html {
  margin: 0!important
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0
}
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
p,
ul[class] {
  margin: 0
}
ol[class],
ul[class] {
  padding: 0;
  list-style-type: none
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: inherit
}
a[class] {
  text-decoration: none
}
button,
input,
select,
textarea {
  font: inherit
}
button,
label {
  cursor: pointer
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  font-family: WorkSans,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #012137;
  background-color: #f3f5f7;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  scrollbar-face-color: #012137;
  scrollbar-track-color: #fff
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0
}
body::-webkit-scrollbar-thumb {
  background: #012137;
  border-radius: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}
body::-webkit-scrollbar-thumb:hover {
  background: #00d791
}
body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0
}
body.overflow {
  overflow: hidden;
  padding-right: var(--scroll-width)
}
body.overflow .header {
  padding-right: var(--scroll-width)
}
body.overflow.menu-show:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(11,11,11,.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1474px;
  padding: 0 15px
}
.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 15
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-shadow: 0 20px 20px -20px rgba(1,33,55,.2);
  box-shadow: 0 20px 20px -20px rgba(1,33,55,.2);
  border-radius: 90px;
  padding: 15px 20px;
  background-color: #fff;
  position: relative
}
.header__content .logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto
}
.header__content .logo-link .logo-image {
  display: block;
  width: 46px;
  margin: 0 25px 0 0
}
.header__content .logo-link span {
  font-weight: 800;
  color: #012137;
  font-size: 25px;
  line-height: 100%;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -o-transition: transform .3s,opacity .3s
}
.header__content .logo-link:hover span {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
.header__content .add-menu {
  position: absolute;
  display: block;
  top: calc(100% + 15px);
  left: 0
}
.header__content .add-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.header__content .add-menu__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 5px
}
.header__content .add-menu__item:nth-of-type(1) {
  margin-left: 20px
}
.header__content .add-menu__link {
  display: inline-block;
  background-color: #f3f5f7;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(1,33,55,.2);
  box-shadow: 0 3px 7px 0 rgba(1,33,55,.2);
  padding: 8px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #012137;
  -webkit-transition: color .3s,background-color .3s;
  -o-transition: color .3s,background-color .3s;
  transition: color .3s,background-color .3s
}
.header__content .add-menu__link:hover {
  color: #fff;
  background-color: #012137
}
.header__content .main-menu {
  margin: 0 0 0 auto
}
.header__content .main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.header__content .main-menu__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 0 0 75px
}
.header__content .main-menu__item:last-child {
  margin-right: 20px
}
.header__content .main-menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #012137;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500
}
.header__content .main-menu__link .icon {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0;
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  -webkit-transition: opacity .3s,color .5s,-webkit-transform .3s;
  transition: opacity .3s,transform .3s,color .5s,-webkit-transform .3s;
  -o-transition: opacity .3s,transform .3s,color .5s;
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px
}
.header__content .main-menu__link:hover .icon {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #1fa4f1
}
.header__content .hamburger {
  padding: 0;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: opacity,-webkit-filter;
  -o-transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  position: relative;
  width: 32px;
  height: 40px;
  border-radius: 50%;
  z-index: 20;
  margin: 0 0 0 20px
}
@media (max-width:1199px) {
  .header__content .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
  }
}
.header__content .hamburger.is-active .hamburger-inner,
.header__content .hamburger.is-active .hamburger-inner::after,
.header__content .hamburger.is-active .hamburger-inner::before {
  background-color: #fff
}
.header__content .hamburger-box {
  width: 32px;
  height: 18px;
  display: inline-block;
  position: relative
}
.header__content .hamburger-inner {
  display: block;
  top: 50%;
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: -webkit-transform .15s;
  transition: transform .15s;
  -o-transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s
}
.header__content .hamburger-inner::after,
.header__content .hamburger-inner::before {
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  content: "";
  display: block
}
.header__content .hamburger-inner::before {
  top: -10px
}
.header__content .hamburger--slider .hamburger-inner {
  top: 0
}
.header__content .hamburger--slider .hamburger-inner::before {
  top: 8px;
  right: 0;
  width: 32px;
  -webkit-transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s
}
.header__content .hamburger--slider .hamburger-inner::after {
  top: 16px
}
.header__content .hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(4px,8px,0) rotate(45deg);
  transform: translate3d(4px,8px,0) rotate(45deg);
  height: 2px;
  width: 25px
}
.header__content .hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0
}
.header__content .hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0,-16px,0) rotate(-90deg);
  transform: translate3d(0,-16px,0) rotate(-90deg);
  height: 2px;
  width: 25px
}
.header + main {
  padding-top: 150px
}
.main-page {
  background-color: #fff;
  background-image: url(../images/common/main/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 10px) calc(100% + 21vh);
  background-size: auto;
  padding-bottom: 25vh;
  margin-bottom: -25vh;
  position: relative
}
.main-page:before {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  background: -webkit-gradient(linear,left bottom,left top,from(#f3f5f7),color-stop(65%,rgba(243,245,247,0)));
  background: -o-linear-gradient(bottom,#f3f5f7 0,rgba(243,245,247,0) 65%);
  background: linear-gradient(0deg,#f3f5f7 0,rgba(243,245,247,0) 65%);
  position: absolute;
  bottom: 0;
  left: 0
}
.main-page .container {
  position: relative
}
.main-page .container .main-animation {
  display: block;
  position: absolute;
  top: 14.5%
}
.main-page .container .main-animation.left-animation {
  left: calc(-15% - 10px);
  -webkit-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  transform: scale(-1,1)
}
.main-page .container .main-animation.right-animation {
  right: calc(-15% - 10px)
}
.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(var(--app-height) - 150px);
  max-height: 1000px;
  padding: 30px 0 calc(20vh + 15px);
  text-align: center;
  position: relative;
  z-index: 1
}
.main-page__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -4px;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh"
}
.main-page__title span {
  display: block;
  font-weight: 300;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#e682e8),color-stop(75%,#012137));
  background: -o-linear-gradient(#e682e8 5%,#012137 75%);
  background: linear-gradient(#e682e8 5%,#012137 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.main-page__subtitle {
  margin-top: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -.22px
}
.main-page .btns-row {
  margin-top: 42px
}
.main-page .btns-row .main-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #012137;
  margin: 0 15px;
  position: relative
}
.main-page .btns-row .main-link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #012137;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s
}
.main-page .btns-row .main-link .icon {
  font-size: 24px;
  margin-right: -8px
}
.main-page .btns-row .main-link:hover:after {
  width: 100%
}
.main-page .main-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto
}