@font-face {
  font-family: Circe;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/CirceBold/CirceBold.eot);
  src: url(../fonts/CirceBold/CirceBold.eot?#iefix) format("embedded-opentype"),url(../fonts/CirceBold/CirceBold.woff) format("woff"),url(../fonts/CirceBold/CirceBold.woff2) format("woff2"),url(../fonts/CirceBold/CirceBold.ttf) format("truetype")
}
@font-face {
  font-family: Circe;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/CirceRegular/CirceRegular.eot);
  src: url(../fonts/CirceRegular/CirceRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/CirceRegular/CirceRegular.woff) format("woff"),url(../fonts/CirceRegular/CirceRegular.woff2) format("woff2"),url(../fonts/CirceRegular/CirceRegular.ttf) format("truetype")
}
@font-face {
  font-family: DINCondensed;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/DINCondensedBold/DINCondensedBold.eot);
  src: url(../fonts/DINCondensedBold/DINCondensedBold.eot?#iefix) format("embedded-opentype"),url(../fonts/DINCondensedBold/DINCondensedBold.woff) format("woff"),url(../fonts/DINCondensedBold/DINCondensedBold.woff2) format("woff2"),url(../fonts/DINCondensedBold/DINCondensedBold.ttf) format("truetype")
}
@font-face {
  font-family: DINCondensed;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/DINCondensedLight/DINCondensedLight.eot);
  src: url(../fonts/DINCondensedLight/DINCondensedLight.eot?#iefix) format("embedded-opentype"),url(../fonts/DINCondensedLight/DINCondensedLight.woff) format("woff"),url(../fonts/DINCondensedLight/DINCondensedLight.woff2) format("woff2"),url(../fonts/DINCondensedLight/DINCondensedLight.ttf) format("truetype")
}
@font-face {
  font-family: DINCondensed;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/DINCondensedRegular/DINCondensedRegular.eot);
  src: url(../fonts/DINCondensedRegular/DINCondensedRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/DINCondensedRegular/DINCondensedRegular.woff) format("woff"),url(../fonts/DINCondensedRegular/DINCondensedRegular.woff2) format("woff2"),url(../fonts/DINCondensedRegular/DINCondensedRegular.ttf) format("truetype")
}
@font-face {
  font-family: Fontello;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot?#iefix) format("embedded-opentype"),url(../fonts/fontello/fontello.woff) format("woff"),url(../fonts/fontello/fontello.woff2) format("woff2"),url(../fonts/fontello/fontello.ttf) format("truetype")
}
[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none
}
.icon-arrow_down:before {
  content: "\e800"
}
.icon-check:before {
  content: "\e801"
}
.icon-close:before {
  content: "\e802"
}
.icon-link_arrow2:before {
  content: "\e803"
}
.icon-play:before {
  content: "\e804"
}
.icon-slide_arrow:before {
  content: "\e806"
}
.icon-link_arrow:before {
  content: "\e807"
}
.icon-vkontakte:before {
  content: "\f189"
}
.icon-paper-plane:before {
  content: "\f1d8"
}
.icon-whatsapp:before {
  content: "\f232"
}
:root {
  --app-height: 100%
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0
}
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
p,
ul[class] {
  margin: 0
}
ol[class],
ul[class] {
  padding: 0;
  list-style-type: none
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: inherit
}
a[class] {
  text-decoration: none
}
button,
input,
select,
textarea {
  font: inherit
}
button,
label {
  cursor: pointer
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  font-family: Circe,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  scrollbar-face-color: #fdc62c;
  scrollbar-track-color: #ce0037
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0
}
body::-webkit-scrollbar-thumb {
  background: #fdc62c;
  border-radius: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffc72c
}
body::-webkit-scrollbar-track {
  background: #ce0037;
  border-radius: 0
}
body.overflow {
  overflow: hidden
}
body.overflow:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 10
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 95px 0 50px;
  -webkit-transition: padding .3s;
  -o-transition: padding .3s;
  transition: padding .3s
}
@media (max-width:1200px) {
  .header__content {
    padding: 40px 0
  }
}
@media (max-width:1024px) {
  body.overflow .header {
    background-color: #ce0037
  }
  .header__content {
    padding: 30px 0
  }
}
.header__content .logo-link {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto
}
.header__content .logo-link .logo-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0
}
.header__content .main-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 0 0 auto
}
.header__content .main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
@media (max-width:1023px) {
  .header__content .main-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
    height: calc(var(--app-height) - 100%);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    background-color: #ce0037
  }
  .header__content .main-menu.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
  .header__content .main-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 30px;
    border-top: 1px solid rgba(255,255,255,.3)
  }
}
@media (max-width:575px) {
  .header__content {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,.3)
  }
  .header__content .main-menu {
    width: 100vw
  }
  .header__content .main-menu__list {
    padding: 30px 15px
  }
}
.header__content .main-menu__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin-left: 30px
}
.header__content .main-menu__item:nth-of-type(1) {
  margin-left: 0
}
.header__content .main-menu__link {
  display: inline-block;
  position: relative;
  font-family: DINCondensed,sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px
}
@media (max-width:1023px) {
  .header__content .main-menu__item {
    margin: 0 0 15px
  }
  .header__content .main-menu__link {
    font-size: 24px;
    line-height: 30px
  }
}
@media (max-width:575px) {
  .header__content .main-menu__link {
    font-size: 22px;
    line-height: 28px
  }
}
.header__content .main-menu__link:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffca38;
  position: absolute;
  bottom: -3px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s
}
.header__content .main-menu__link:hover:before {
  width: 100%
}
.header__content .hamburger {
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: opacity,-webkit-filter;
  -o-transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 20;
  margin: 0 0 0 auto
}
@media (max-width:1023px) {
  .header__content .hamburger {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    padding-top: 2px
  }
}
.header__content .hamburger.is-active .hamburger-inner,
.header__content .hamburger.is-active .hamburger-inner::after,
.header__content .hamburger.is-active .hamburger-inner::before {
  background-color: #fff
}
.header__content .hamburger-box {
  width: 32px;
  height: 45px;
  display: inline-block;
  position: relative
}
.header__content .hamburger-inner {
  display: block;
  top: 50%;
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: -webkit-transform .15s;
  transition: transform .15s;
  -o-transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s
}
.header__content .hamburger-inner::after,
.header__content .hamburger-inner::before {
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  content: "";
  display: block
}
.header__content .hamburger-inner::before {
  top: -10px
}
.header__content .hamburger--slider .hamburger-inner {
  top: 12px
}
.header__content .hamburger--slider .hamburger-inner::before {
  top: 8px;
  right: 0;
  width: 32px;
  -webkit-transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s
}
.header__content .hamburger--slider .hamburger-inner::after {
  top: 16px
}
.header__content .hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(4px,8px,0) rotate(45deg);
  transform: translate3d(4px,8px,0) rotate(45deg);
  height: 2px;
  width: 25px
}
.header__content .hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0
}
.header__content .hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0,-16px,0) rotate(-90deg);
  transform: translate3d(0,-16px,0) rotate(-90deg);
  height: 2px;
  width: 25px
}
.header + main {
  padding-top: 170px;
  background-color: #ce0037;
  border-radius: 0 0 0 175px;
  width: 100%;
  max-width: 1404px;
  margin: 0 auto
}
@media (max-width:1199px) {
  .container {
    max-width: 960px
  }
  .header + main {
    border-radius: 0 0 0 115px;
    padding-top: 100px
  }
}
@media (max-width:959px) {
  .header + main {
    padding-top: 85px
  }
}
.header.scroll {
  background-color: #ce0037
}
.header.scroll .header__content {
  padding: 15px 0
}
.main-page {
  background-color: #ce0037;
  border-radius: 0 0 0 175px;
  width: 100%;
  max-width: 1404px;
  margin: 0 auto
}
.main-page__title {
  color: #fff;
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -.02em
}
@media (max-width:419px) {
  .header + main {
    padding-top: 75px
  }
  .main-page__title {
    line-height: 42px
  }
}
.main-page__descr {
  max-width: 375px;
  margin-top: 38px;
  color: #fff;
  font-size: 18px;
  line-height: 139%
}
@media (max-width:419px) {
  .main-page__descr {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px
  }
}
.main-page__btn {
  display: inline-block;
  background-color: #ffca38;
  text-transform: uppercase;
  color: #000;
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .03em;
  padding: 20px 31px 17px;
  border-radius: 30px;
  margin-top: 33px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
@media (max-width:419px) {
  .main-page__btn {
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
    padding: 9px 32px 7px
  }
}
.main-page__btn:hover {
  background-color: #e8b833
}
.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.main-page__content__left-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 55px 15px 55px 0;
  min-height: 450px
}
@media (max-width:1199px) {
  .main-page__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    min-height: 400px
  }
}
@media (max-width:959px) {
  .main-page__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    min-height: 320px;
    padding: 35px 15px 35px 0
  }
}
@media (max-width:639px) {
  .main-page__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 0
  }
}
.main-page__content__right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative
}
@media (max-width:1199px) {
  .main-page__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%
  }
}
@media (max-width:959px) {
  .main-page__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%
  }
}
@media (max-width:639px) {
  .main-page__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: -50px
  }
}
.main-page__content__right-side .bg-wrapper {
  position: absolute;
  top: 15px;
  left: 0;
  width: calc(120% + 36px);
  height: calc(100% + 28px);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover
}
@media (max-width:1404px) {
  .main-page__content__right-side .bg-wrapper {
    width: calc(100% + (100vw - 1110px)/ 2)
  }
}
@media (max-width:1199px) {
  .main-page__content__right-side .bg-wrapper {
    width: calc(100% + (100vw - 960px)/ 2 + 15px)
  }
}
@media (max-width:767px) {
  .main-page__content__right-side .bg-wrapper {
    height: 365px;
    top: auto;
    bottom: -30px
  }
}
@media (max-width:639px) {
  .main-page__content__right-side .bg-wrapper {
    bottom: auto;
    top: 0;
    position: relative
  }
}
@media (max-width:419px) {
  .main-page__content__left-side {
    padding: 0;
    min-height: auto
  }
  .main-page__content__right-side {
    margin-top: 45px;
    margin-bottom: -130px
  }
  .main-page__content__right-side .bg-wrapper {
    height: 280px;
    bottom: 0
  }
}
.main-page__content__right-side .circle {
  display: block;
  position: absolute;
  z-index: 1;
  left: -90px;
  bottom: 28px
}
@media (max-width:959px) {
  .main-page__content__right-side .bg-wrapper {
    width: calc(100% + 15px)
  }
  .main-page__content__right-side .circle {
    left: -70px;
    bottom: 0
  }
  .main-page__content__right-side .circle svg {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
  }
}
@media (max-width:767px) {
  .main-page__content__right-side .circle {
    bottom: -20px;
    left: -65px
  }
}
@media (max-width:639px) {
  .main-page__content__right-side .circle {
    left: auto;
    right: 0;
    bottom: -90px
  }
}
@media (max-width:767px) {
  .main-page__content__right-side .circle svg {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
  }
}
@media (max-width:639px) {
  .main-page__content__right-side .circle svg {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
  }
  .main-page__content__right-side .circle svg rect {
    stroke: #f3f3f3
  }
}
.main-page__content__right-side .circle .circle-text {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: 10s linear infinite spin;
  animation: 10s linear infinite spin
}
.main-descr {
  padding: 140px 0 40px
}
@media (max-width:1199px) {
  .main-descr {
    padding: 100px 0 40px
  }
}
@media (max-width:959px) {
  .main-descr {
    padding: 80px 0 40px
  }
}
@media (max-width:639px) {
  .main-descr {
    padding: 140px 0 40px
  }
}
.main-descr__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -.02em
}
@media (max-width:575px) {
  .main-descr__title {
    font-size: 22px
  }
}
.main-descr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
@media (max-width:959px) {
  .main-descr__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
.main-descr__content__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}
@media (max-width:1199px) {
  .main-descr__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%
  }
}
@media (max-width:959px) {
  .main-descr__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
}
.main-descr__content__left-side .descr-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 200px;
  margin: 0 auto 60px 0
}
@media (max-width:959px) {
  .main-descr__content__left-side .descr-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 25%;
    margin: 0 auto 30px 0
  }
}
.main-descr__content__left-side .descr-item:nth-of-type(2n) {
  margin-right: auto
}
.main-descr__content__left-side .descr-item .number-block {
  font-family: DINCondensed,sans-serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 90px;
  background: -o-linear-gradient(15.57deg,#da0c39 7.11%,#fdc62c 94.7%);
  background: linear-gradient(74.43deg,#da0c39 7.11%,#fdc62c 94.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent
}
@media (max-width:1199px) {
  .main-descr__content__left-side .descr-item .number-block {
    font-size: 90px;
    line-height: 70px
  }
}
@media (max-width:959px) {
  .main-descr__content__left-side .descr-item:last-child {
    margin-right: 0
  }
  .main-descr__content__left-side .descr-item .number-block {
    font-size: 75px;
    line-height: 65px
  }
}
@media (max-width:767px) {
  .main-descr__content__left-side .descr-item .number-block {
    font-size: 70px;
    line-height: 55px
  }
}
@media (max-width:639px) {
  .main-descr__content__left-side .descr-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .main-descr__content__left-side .descr-item .number-block {
    font-size: 82px;
    line-height: 65px
  }
}
.main-descr__content__left-side .descr-item .descr-block {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 15px;
  max-width: 150px
}
@media (max-width:959px) {
  .main-descr__content__left-side .descr-item .descr-block {
    max-width: 135px
  }
}
@media (max-width:767px) {
  .main-descr__content__left-side .descr-item .descr-block {
    font-size: 20px;
    line-height: 22px
  }
}
@media (max-width:639px) {
  .main-descr__content__left-side .descr-item .descr-block {
    font-size: 22px;
    line-height: 24px;
    max-width: 100%
  }
}
.main-descr__content__right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}
@media (max-width:1199px) {
  .main-descr__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%
  }
}
@media (max-width:959px) {
  .main-descr__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px
  }
}
@media (max-width:419px) {
  .main-page__content__right-side .circle {
    right: 0;
    bottom: -85px
  }
  .main-page__content__right-side .circle svg {
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75)
  }
  .main-descr {
    padding: 215px 0 40px
  }
  .main-descr__title {
    font-size: 18px;
    line-height: 24px
  }
  .main-descr__content__left-side .descr-item {
    margin: 0 0 35px
  }
  .main-descr__content__left-side .descr-item:nth-of-type(2n) {
    padding-left: 20px
  }
  .main-descr__content__left-side .descr-item .descr-block {
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
    padding-right: 10px
  }
  .main-descr__content__right-side {
    margin-top: 0
  }
}
.main-descr__content__right-side .advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 25px
}
@media (max-width:959px) {
  .main-descr__content__right-side .advantage-list {
    margin-top: 35px
  }
}
@media (max-width:419px) {
  .main-descr__content__right-side .advantage-list {
    margin-top: 25px
  }
}
.main-descr__content__right-side .advantage-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 33.3%;
  margin: 0 auto 0 0
}
@media (max-width:639px) {
  .main-descr__content__right-side .advantage-list__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0 0
  }
}
@media (max-width:419px) {
  .main-descr__content__right-side .advantage-list__item {
    margin: 30px 0 0
  }
}
.main-descr__content__right-side .advantage-list__item:nth-of-type(1) {
  padding-right: 10px
}
.main-descr__content__right-side .advantage-list__item:nth-of-type(3) {
  padding-left: 10px
}
@media (max-width:959px) {
  .main-descr__content__right-side .advantage-list__item:nth-of-type(1) {
    padding-right: 15px
  }
  .main-descr__content__right-side .advantage-list__item:nth-of-type(3) {
    padding-left: 15px
  }
}
@media (max-width:639px) {
  .main-descr__content__right-side .advantage-list__item:nth-of-type(1) {
    padding-right: 0;
    margin-top: 0
  }
  .main-descr__content__right-side .advantage-list__item:nth-of-type(3) {
    padding-left: 0
  }
}
.main-descr__content__right-side .advantage-list__item .item-title {
  text-transform: uppercase;
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: .03em;
  color: #da0c39
}
.main-descr__content__right-side .advantage-list__item .item-descr {
  margin-top: 18px;
  font-size: 16px;
  line-height: 125%
}
@media (max-width:639px) {
  .main-descr__content__right-side .advantage-list__item .item-descr {
    margin-top: 10px
  }
}
.main-descr__content__right-side .partner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 34px;
  background-color: #ce0037;
  border-radius: 15px;
  position: relative
}
@media (max-width:969px) {
  .main-descr__content__right-side .partner-block {
    max-width: calc(100% - 15px);
    margin: 35px 0 0 auto
  }
}
.main-descr__content__right-side .partner-block .partner-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0;
  position: absolute;
  top: calc(50% - 35px);
  left: -20px
}
@media (max-width:575px) {
  .main-descr__content__right-side .partner-block .partner-image {
    max-width: 128px;
    top: calc(50% - 32px)
  }
}
.main-descr__content__right-side .partner-block .descr-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 165px);
  flex: 0 0 calc(100% - 165px);
  max-width: calc(100% - 165px);
  margin: 0 0 0 auto;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 25px 60px 20px 0
}
@media (max-width:575px) {
  .main-descr__content__right-side .partner-block .descr-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 130px);
    flex: 0 0 calc(100% - 130px);
    max-width: calc(100% - 130px);
    padding: 20px 20px 20px 0
  }
}
@media (max-width:419px) {
  .main-descr__content__right-side .partner-block {
    margin: 50px 0 0 auto;
    max-width: 100%
  }
  .main-descr__content__right-side .partner-block .partner-image {
    left: -5px
  }
  .main-descr__content__right-side .partner-block .descr-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 140px);
    flex: 0 0 calc(100% - 140px);
    max-width: calc(100% - 140px);
    line-height: 20px
  }
}
.category-page .category-image {
  position: absolute;
  width: auto;
  max-width: calc(100% + 10px);
  left: 15px;
  top: 25px
}
@media (max-width:1199px) {
  .category-page .category-image {
    top: 0
  }
}
@media (max-width:1023px) {
  .header + main {
    border-radius: 0 0 0 60px
  }
  .category-page .category-image {
    left: -20px;
    max-width: 100%
  }
}
@media (max-width:959px) {
  .category-page .category-image {
    top: -30px
  }
}
@media (max-width:639px) {
  .category-page .category-image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 400px;
    margin: 0 auto
  }
}
.category-list {
  margin-top: 88px
}
@media (max-width:1199px) {
  .category-list {
    margin-top: 65px
  }
}
@media (max-width:959px) {
  .category-list {
    margin-top: 35px
  }
}
.category-list .category-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 35px
}
@media (max-width:639px) {
  .category-list .category-link {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 25px
  }
}
@media (max-width:420px) {
  .category-list .category-link {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 25px
  }
}
.category-list .category-link .icon {
  -webkit-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  transform: scale(-1,1);
  margin-right: 30px;
  font-size: 16px;
  line-height: 16px
}
.category-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px
}
@media (max-width:1199px) {
  .category-list__content {
    margin-top: 45px
  }
}
@media (max-width:959px) {
  .category-list__content {
    margin-top: 30px
  }
}
.category-list__content__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(33.3% - 10px);
  flex: 0 0 calc(33.3% - 10px);
  max-width: calc(33.3% - 10px);
  margin: 0 15px 30px 0;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
@media (max-width:768px) {
  .category-list__content__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 0 20px 20px 0
  }
  .category-list__content__item:nth-of-type(2n) {
    margin-right: 0
  }
}
.category-list__content__item:nth-of-type(3n) {
  margin-right: 0
}
@media (max-width:959px) {
  .category-list__content__item:nth-of-type(3n) {
    margin-right: 20px
  }
}
@media (max-width:575px) {
  .category-page .category-image {
    max-width: 100%
  }
  .category-list__content__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 20px
  }
  .category-list__content__item:nth-of-type(3n) {
    margin-right: 0
  }
}
.category-list__content__item .item-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1
}
.category-list__content__item .image-block {
  width: 100%;
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:767px) {
  .category-page .category-image {
    top: 0
  }
  .category-list__content__item .image-block {
    min-height: 220px;
    padding: 0 15px
  }
}
.category-list__content__item .image-block .item-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto
}
.category-list__content__item .descr-block {
  width: 100%;
  padding: 15px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
@media (max-width:767px) {
  .category-list__content__item .descr-block {
    padding: 15px
  }
}
@media (max-width:575px) {
  .category-list__content__item .descr-block {
    padding: 15px 20px
  }
}
.category-list__content__item .descr-block .item-name {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: .03em;
  text-transform: uppercase
}
.category-list__content__item .descr-block .item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 15px 0 22px
}
@media (max-width:767px) {
  .category-list__content__item .descr-block .item-descr {
    margin: 15px 0
  }
}
@media (max-width:420px) {
  .category-list__content__item .descr-block {
    padding: 10px
  }
  .category-list__content__item .descr-block .item-descr {
    margin: 10px 0
  }
}
.category-list__content__item .descr-block .see-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #ce0037;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  margin: auto 0 22px;
  width: 100%
}
@media (max-width:767px) {
  .category-list__content__item .descr-block .see-link {
    margin: auto 0 10px
  }
}
.category-list__content__item .descr-block .see-link .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 18px 0 auto;
  font-size: 9px;
  line-height: 9px;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.category-list__content__item:hover {
  position: relative;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 18px 80px rgba(0,0,0,.03),0 7.51997px 33.4221px rgba(0,0,0,.0215656),0 4.02054px 17.869px rgba(0,0,0,.0178832),0 2.25388px 10.0172px rgba(0,0,0,.015),0 1.19702px 5.32008px rgba(0,0,0,.0121168),0 .498106px 2.21381px rgba(0,0,0,.00843437);
  box-shadow: 0 18px 80px rgba(0,0,0,.03),0 7.51997px 33.4221px rgba(0,0,0,.0215656),0 4.02054px 17.869px rgba(0,0,0,.0178832),0 2.25388px 10.0172px rgba(0,0,0,.015),0 1.19702px 5.32008px rgba(0,0,0,.0121168),0 .498106px 2.21381px rgba(0,0,0,.00843437)
}
.category-list__content__item:hover .see-link .icon {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px)
}
.product-page .main-block__content__left-side .descr-block {
  max-width: 400px
}
@media (max-width:639px) {
  .product-page .main-block__content__left-side .descr-block {
    max-width: 100%
  }
}
.product-page .main-block__content__right-side .product-image {
  position: absolute;
  left: -100px;
  top: -45px
}
@media (max-width:1790px) {
  .product-page .main-block__content__right-side .product-image {
    max-width: calc(100% + (100vw - 1170px)/ 2);
    left: 0;
    top: -70px
  }
}
@media (max-width:1199px) {
  .product-page .main-block__content__right-side .product-image {
    max-width: calc(100% - (100vw - 960px)/ 2);
    top: -45px
  }
  .product-info__descr__right-side {
    padding-left: 30px
  }
}
@media (max-width:1199px) and (max-width:1023px) {
  .product-page .main-block__content__right-side .product-image {
    left: 0
  }
}
@media (max-width:1199px) and (max-width:959px) {
  .product-page .main-block__content__right-side .product-image {
    max-width: 100%;
    left: 30px
  }
}
@media (max-width:1199px) and (max-width:767px) {
  .product-page .main-block__content__right-side .product-image {
    left: 0;
    top: 0
  }
}
@media (max-width:1199px) and (max-width:639px) {
  .product-page .main-block__content__right-side .product-image {
    position: relative;
    margin: 0 auto;
    width: 414px
  }
}
.product-info {
  margin-top: 50px;
  margin-bottom: 20px
}
.product-info__options {
  margin-top: 30px
}
.product-info__options:nth-of-type(1) {
  margin-top: 0
}
.product-info__options .options-title {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: .03em;
  text-transform: uppercase
}
.product-info__options .option-row {
  margin-top: 22px
}
.product-info__options .option-row:nth-of-type(1) {
  margin-top: 0
}
.product-info__options .option-row__title {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: .03em;
  text-transform: uppercase
}
.product-info__options .option-row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px
}
@media (max-width:575px) {
  .product-info__options .option-row__items {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: calc(100% + 15px);
    width: calc(100% + 15px);
    overflow-x: scroll;
    padding-bottom: 5px;
    margin-top: 15px;
    scrollbar-face-color: #702f8a;
    scrollbar-track-color: #d9d9d9
  }
  .product-info__options .option-row__items::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 0
  }
  .product-info__options .option-row__items::-webkit-scrollbar-thumb {
    background: #702f8a;
    border-radius: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s
  }
  .product-info__options .option-row__items::-webkit-scrollbar-thumb:hover {
    background: #542367
  }
  .product-info__options .option-row__items::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 0
  }
}
.product-info__options .option-row__items .option-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  max-width: 160px;
  margin: 0 9px 9px 0
}
@media (max-width:767px) {
  .product-info__options .option-row__items .option-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    max-width: 140px;
    margin: 0 10px 10px 0
  }
}
@media (max-width:639px) {
  .product-info__options .option-row__items .option-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 125px;
    flex: 0 0 125px;
    max-width: 125px
  }
}
.product-info__options .option-row__items .option-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative
}
.product-info__options .option-row__items .option-item label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0
}
.product-info__options .option-row__items .option-item label input:checked + .label {
  background-color: #fdc62c
}
.product-info__options .option-row__items .option-item label input:disabled + .label {
  background-color: rgba(230,230,230,.3);
  color: rgba(0,0,0,.2)
}
.product-info__options .option-row__items .option-item label .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: rgba(180,180,180,.3);
  border-radius: 10px;
  font-size: 14px;
  line-height: 107%;
  padding: 5px;
  min-height: 45px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.product-info__options .option-row__items .option-item label .label span {
  display: block;
  margin-top: 2px
}
.product-info__options + .product-info__descr {
  border-top: 1px solid rgba(0,0,0,.1)
}
.product-info__descr {
  margin-top: 40px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.product-info__descr__left-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(60% + 5px);
  flex: 0 0 calc(60% + 5px);
  max-width: calc(60% + 5px)
}
@media (max-width:767px) {
  .product-info__descr {
    padding-top: 0
  }
  .product-info__descr__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
}
.product-info__descr__left-side .descr-title {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: .03em;
  text-transform: uppercase
}
.product-info__descr__left-side .descr-list {
  margin-top: 25px
}
.product-info__descr__left-side .descr-list__item {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 27px 80px rgba(0,0,0,.02),0 11.28px 33.4221px rgba(0,0,0,.0143771),0 6.0308px 17.869px rgba(0,0,0,.0119221),0 3.38082px 10.0172px rgba(0,0,0,.01),0 1.79553px 5.32008px rgba(0,0,0,.00807786),0 .747159px 2.21381px rgba(0,0,0,.00562291);
  box-shadow: 0 27px 80px rgba(0,0,0,.02),0 11.28px 33.4221px rgba(0,0,0,.0143771),0 6.0308px 17.869px rgba(0,0,0,.0119221),0 3.38082px 10.0172px rgba(0,0,0,.01),0 1.79553px 5.32008px rgba(0,0,0,.00807786),0 .747159px 2.21381px rgba(0,0,0,.00562291);
  border-radius: 24px;
  padding: 0 35px
}
@media (max-width:959px) {
  .product-info__descr__left-side .descr-list__item {
    padding: 0 20px
  }
}
.product-info__descr__left-side .descr-list__item.active {
  position: relative;
  z-index: 1
}
.product-info__descr__left-side .descr-list__item .item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  position: relative;
  cursor: pointer;
  padding: 24px 0
}
.product-info__descr__left-side .descr-list__item .item-title:after {
  content: "\e803";
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  background-color: #702f8a;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 2px;
  position: absolute;
  top: calc(50% - 21px);
  right: -13px
}
.product-info__descr__left-side .descr-list__item .item-title:after:hover {
  color: #542367
}
.product-info__descr__left-side .descr-list__item .item-descr {
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -.02em;
  padding: 10px 0 45px
}
.product-info__descr__left-side .descr-list__item .item-descr p {
  margin-top: 22px
}
.product-info__descr__left-side .descr-list__item .item-descr p:nth-of-type(1),
.product-info__descr__left-side .descr-list__item:nth-of-type(1) {
  margin-top: 0
}
.product-info__descr__left-side .descr-list__item.single-item {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0
}
.product-info__descr__right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(40% - 5px);
  flex: 0 0 calc(40% - 5px);
  max-width: calc(40% - 5px);
  padding-top: 30px
}
@media (max-width:767px) {
  .product-info__descr__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0
  }
}
.product-info__descr__right-side .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.product-info__descr__right-side .image-block .option-preview {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto
}
@media (max-width:767px) {
  .product-info__descr__right-side .image-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .product-info__descr__right-side .image-block .option-preview {
    margin: 0
  }
}
.product-info__descr__right-side .image-block + .descr-block {
  margin-top: 55px
}
.product-info__descr__right-side .descr-block {
  padding-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px
}
@media (max-width:959px) {
  .product-info__descr__right-side .descr-block {
    padding-left: 0
  }
}
.product-info__descr__right-side .descr-block .block-title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 104%;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-bottom: 30px
}
.product-info__descr__right-side .descr-block .block-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 38px 38px 0
}
@media (max-width:767px) {
  .product-info__descr__right-side .descr-block .block-item {
    margin: 0 15px 15px 0
  }
}
@media (max-width:639px) {
  .product-info__descr__right-side .descr-block .block-item {
    margin: 0 25px 35px 0
  }
}
.product-info__descr__right-side .descr-block .block-item .numb {
  font-family: DINCondensed,sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 60%;
  letter-spacing: .03em;
  text-transform: uppercase
}
@media (max-width:767px) {
  .product-info__descr__right-side .descr-block .block-item .numb {
    font-size: 35px
  }
}
.product-info__descr__right-side .descr-block .block-item p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.02em;
  color: #bdbdbd
}