@font-face {
  font-family: Fontello;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot?#iefix) format("embedded-opentype"),url(../fonts/fontello/fontello.woff) format("woff"),url(../fonts/fontello/fontello.woff2) format("woff2"),url(../fonts/fontello/fontello.ttf) format("truetype")
}
@font-face {
  font-family: GardensC;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/GardensCRegular/GardensCRegular.eot);
  src: url(../fonts/GardensCRegular/GardensCRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/GardensCRegular/GardensCRegular.woff) format("woff"),url(../fonts/GardensCRegular/GardensCRegular.woff2) format("woff2"),url(../fonts/GardensCRegular/GardensCRegular.ttf) format("truetype")
}
@font-face {
  font-family: Oswald;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/OswaldLight/OswaldLight.eot);
  src: url(../fonts/OswaldLight/OswaldLight.eot?#iefix) format("embedded-opentype"),url(../fonts/OswaldLight/OswaldLight.woff) format("woff"),url(../fonts/OswaldLight/OswaldLight.woff2) format("woff2"),url(../fonts/OswaldLight/OswaldLight.ttf) format("truetype")
}
@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/OswaldRegular/OswaldRegular.eot);
  src: url(../fonts/OswaldRegular/OswaldRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/OswaldRegular/OswaldRegular.woff) format("woff"),url(../fonts/OswaldRegular/OswaldRegular.woff2) format("woff2"),url(../fonts/OswaldRegular/OswaldRegular.ttf) format("truetype")
}
@font-face {
  font-family: PrestigeNormal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/PrestigeNormalRegular/PrestigeNormalRegular.eot);
  src: url(../fonts/PrestigeNormalRegular/PrestigeNormalRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/PrestigeNormalRegular/PrestigeNormalRegular.woff) format("woff"),url(../fonts/PrestigeNormalRegular/PrestigeNormalRegular.woff2) format("woff2"),url(../fonts/PrestigeNormalRegular/PrestigeNormalRegular.ttf) format("truetype")
}
[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: Fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: block;
  margin: 0;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none
}
.icon-check_icon:before {
  content: "\e801"
}
.icon-close_icon:before {
  content: "\e802"
}
.icon-delivery_icon:before {
  content: "\e803"
}
.icon-down_arrow:before {
  content: "\e804"
}
.icon-inst_icon:before {
  content: "\e805"
}
.icon-link_arrow:before {
  content: "\e806"
}
.icon-togis_icon:before {
  content: "\e807"
}
.icon-vk_icon:before {
  content: "\e808"
}
.icon-ya_icon:before {
  content: "\e809"
}
.icon-ya_map_icon:before {
  content: "\e80a"
}
:root {
  --app-height: 100%
}
html {
  margin: 0!important
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0
}
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
p,
ul[class] {
  margin: 0
}
ol[class],
ul[class] {
  padding: 0;
  list-style-type: none
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: inherit
}
a[class] {
  text-decoration: none
}
button,
input,
select,
textarea {
  font: inherit
}
button,
label {
  cursor: pointer
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  font-family: GardensC,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: var(--txt-color);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  scrollbar-face-color: var(--accent-color);
  scrollbar-track-color: var(--bg-color)
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0
}
body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color)
}
body::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 0
}
body.overflow {
  overflow: hidden;
  padding-right: var(--scroll-width)
}
body.overflow .header {
  padding-right: var(--scroll-width)
}
body.overflow.menu-show:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1834px;
  padding: 0 15px
}
@media (max-width:1199px) {
  body {
    font-size: 14px;
    line-height: 22px
  }
  .container {
    padding: 0 47px
  }
}
@media (max-width:1023px) {
  .container {
    padding: 0 30px
  }
}
@media (max-width:991px) {
  .container {
    padding: 0 61px
  }
}
@media (max-width:767px) {
  .container {
    padding: 0 20px
  }
}
@media (max-width:639px) {
  .container {
    padding: 0 15px
  }
}
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100
}
.preloader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%
}
.preloader__content .logo {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s;
  -o-transition: transform .5s,opacity .5s
}
.preloader__progress-bar {
  width: calc(100% - 30px);
  height: 1px;
  max-width: 800px;
  background-color: #c2c2c2;
  margin: 60px 15px 0;
  -webkit-transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s;
  -o-transition: transform .5s,opacity .5s;
  position: relative
}
.preloader__progress-bar .current-line {
  display: block;
  height: 3px;
  width: 0;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s
}
.preloader__percent {
  text-align: center;
  font-family: Oswald,sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: var(--txt-color);
  margin-top: 45px;
  -webkit-transition: color .3s,opacity .5s,-webkit-transform .5s;
  transition: color .3s,transform .5s,opacity .5s,-webkit-transform .5s;
  -o-transition: color .3s,transform .5s,opacity .5s
}
.preloader__percent.done {
  color: var(--accent-color)
}
.preloader.hide .preloader__content .logo,
.preloader.hide .preloader__percent,
.preloader.hide .preloader__progress-bar {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}
.header:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1044px;
  position: relative
}
.header__content .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  min-height: 59px
}
.header__content .logo-link .logo-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0
}
.header__content .main-menu {
  margin: 0 auto
}
@media (max-width:1800px) {
  .header {
    z-index: 11
  }
  .header__content {
    max-width: 100%
  }
  .header__content .main-menu {
    margin: 0 0 0 5%
  }
}
@media (max-width:991px) {
  .header__content {
    padding: 15px 0
  }
  .header__content .main-menu {
    position: absolute;
    width: 330px;
    height: var(--app-height);
    padding: 70px 0;
    margin: 0;
    top: 0;
    right: -61px;
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
    background-color: var(--bg-color);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    overflow-x: scroll
  }
  .header__content .main-menu.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}
@media (max-width:767px) {
  .header__content .main-menu {
    width: 265px;
    right: -20px
  }
}
@media (max-width:575px) {
  .header__content .main-menu {
    width: 255px;
    right: -15px
  }
}
.header__content .main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
@media (max-width:991px) {
  .header__content .main-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.header__content .main-menu__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  margin: 0 25px;
  position: relative;
  padding: 25px 0
}
@media (max-width:1199px) {
  .header__content .logo-link {
    max-width: 40px;
    min-height: 42px
  }
  .header__content .main-menu__item {
    padding: 15px 0
  }
}
.header__content .main-menu__item .link-line {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 80px)
}
@media (max-width:1199px) {
  .header__content .main-menu__item .link-line {
    max-width: 150%;
    left: calc(-25% - 5px)
  }
}
.header__content .main-menu__item .link-line path {
  -webkit-animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow;
  animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  stroke: var(--accent-color)
}
.header__content .main-menu__item.submenu-item .submenu-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  width: auto;
  min-width: calc(100% + 60px)
}
@media (max-width:991px) {
  .header__content .main-menu__item {
    margin: 35px 0 0;
    width: 100%;
    text-align: center;
    padding: 0
  }
  .header__content .main-menu__item .link-line {
    left: calc(50% - 82px);
    top: -22px
  }
  .header__content .main-menu__item.submenu-item .submenu-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: auto;
    border-top: 1px solid rgba(var(--accent-color),.15);
    padding: 0;
    margin-top: 15px
  }
}
.header__content .main-menu__item.submenu-item .submenu-list {
  background-color: #fff;
  border: 1px solid var(--bg-color);
  position: relative
}
@media (max-width:991px) {
  .header__content .main-menu__item.submenu-item .submenu-list {
    background-color: transparent;
    padding: 10px 0
  }
}
.header__content .main-menu__item.submenu-item .submenu-list:nth-of-type(2) {
  border-left: none
}
.header__content .main-menu__item.submenu-item .submenu-list__item {
  white-space: nowrap;
  padding: 15px 30px;
  position: relative;
  width: 100%
}
.header__content .main-menu__item.submenu-item .submenu-list__item:nth-of-type(1) {
  margin-right: 30px
}
.header__content .main-menu__item.submenu-item .submenu-list__item.submenu-item .thirdmenu-wrapper {
  display: none;
  position: absolute;
  left: 100%;
  top: -1px
}
.header__content .main-menu__item.submenu-item .submenu-list__item.submenu-item .thirdmenu-wrapper .submenu-list__item {
  padding: 15px 30px
}
.header__content .main-menu__item.submenu-item .submenu-list__item.submenu-item:hover > .submenu-list__link:before {
  width: 100%
}
.header__content .main-menu__item.submenu-item .submenu-list__link {
  display: inline-block;
  color: var(--txt-color);
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  position: relative
}
.header__content .main-menu__item.submenu-item .submenu-list__link:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 2px;
  left: 0
}
.header__content .main-menu__item.submenu-item .submenu-list__link:hover {
  color: var(--accent-color)
}
.header__content .main-menu__item.submenu-item .submenu-list__link:hover:before,
.header__content .main-menu__item:hover .main-menu__link:before {
  width: 100%
}
.header__content .main-menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: var(--txt-color);
  position: relative
}
.header__content .main-menu__link:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 2px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s
}
.header__content .main-menu__link .icon {
  font-size: 8px;
  line-height: 20px;
  margin-left: 15px
}
.header__content .main-menu__link.active:before {
  width: 100%
}
.header__content .phone-link {
  display: inline-block;
  color: var(--txt-color);
  font-size: 18px;
  line-height: 100%;
  margin-left: auto;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s
}
@media (max-width:1199px) {
  .header__content .phone-link {
    font-size: 14px;
    line-height: 22px
  }
}
@media (max-width:991px) {
  .header__content .main-menu__item.submenu-item .submenu-list__item.submenu-item .thirdmenu-wrapper {
    position: relative;
    top: 0;
    left: 0
  }
  .header__content .phone-link {
    position: relative;
    z-index: 1
  }
}
.header__content .phone-link:hover {
  color: var(--accent-color)
}
.header__content .hamburger {
  padding: 0;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: opacity,-webkit-filter;
  -o-transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  overflow: visible;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 20;
  margin: 0 0 0 50px;
  background-color: var(--accent-color)
}
@media (max-width:991px) {
  .header__content .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
  }
}
.header__content .hamburger.is-active .hamburger-inner,
.header__content .hamburger.is-active .hamburger-inner::after,
.header__content .hamburger.is-active .hamburger-inner::before {
  background-color: #fff
}
.header__content .hamburger-box {
  width: 20px;
  height: 12px;
  display: inline-block;
  position: relative
}
.header__content .hamburger-inner {
  display: block;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: -webkit-transform .15s;
  transition: transform .15s;
  -o-transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s
}
.header__content .hamburger-inner::after,
.header__content .hamburger-inner::before {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  content: "";
  display: block
}
.header__content .hamburger-inner::before {
  top: -10px;
  display: none
}
.header__content .hamburger--slider .hamburger-inner {
  top: 0
}
.header__content .hamburger--slider .hamburger-inner::before {
  top: 8px;
  right: 0;
  width: 32px;
  -webkit-transition-property: opacity,-webkit-transform;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s
}
.header__content .hamburger--slider .hamburger-inner::after {
  top: 10px
}
.header__content .hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(-2px,5px,0) rotate(45deg);
  transform: translate3d(-2px,5px,0) rotate(45deg);
  height: 2px;
  width: 25px
}
.header__content .hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0
}
.header__content .hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0,-10px,0) rotate(-90deg);
  transform: translate3d(0,-10px,0) rotate(-90deg);
  height: 2px;
  width: 25px
}
.header + .main-section {
  padding-top: 109px
}
.header.restaurant-header .header__content {
  max-width: 100%
}
.header.restaurant-header .header__content .logo-link {
  margin-right: auto
}
.header.restaurant-header .header__content .main-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
  margin: 0 8.5%
}
@media (max-width:1439px) {
  .header.restaurant-header .header__content .main-menu {
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto
  }
}
@media (max-width:991px) {
  .header.restaurant-header .header__content .main-menu {
    width: 330px;
    margin: 0
  }
}
@media (max-width:1199px) {
  .header + .main-section {
    padding-top: 71px
  }
  .header.restaurant-header .header__content .main-menu__item {
    margin: 0 20px
  }
}
.header.restaurant-header .header__content .main-menu__item.delivery-item {
  margin-left: auto
}
@media (max-width:1439px) {
  .header.restaurant-header .header__content .main-menu__item.delivery-item {
    margin: 0 25px
  }
}
.menu-show .header {
  z-index: 20
}
.main-page {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover
}
.main-page__title {
  font-family: Oswald,sans-serif;
  font-weight: 300;
  font-size: 90px;
  line-height: 120%
}
@media (max-width:1335px) {
  .header.restaurant-header .header__content .logo-link {
    max-width: 72px
  }
  .main-page__title {
    font-size: 72px
  }
  .main-page__content__right-side .main-slider {
    max-width: 525px
  }
}
.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: calc(100vh - 109px);
  height: 935px;
  min-height: 500px
}
@media (max-width:1199px) {
  .main-page__title {
    font-size: 60px
  }
  .main-page__content {
    height: 510px
  }
}
.main-page__content__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  color: #fff;
  padding-bottom: calc(5% - 10px);
  padding-right: 20px
}
@media (max-width:1199px) {
  .main-page__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 60px
  }
  .main-page__content__right-side {
    margin-left: auto
  }
}
@media (max-width:1023px) {
  .header.restaurant-header .header__content .main-menu__item {
    margin: 0 15px
  }
  .main-page__content__left-side {
    padding-right: 0
  }
}
@media (max-width:991px) {
  .header.restaurant-header .header__content .main-menu__item,
  .header.restaurant-header .header__content .main-menu__item.delivery-item {
    margin: 30px 0 0
  }
  .main-page__content {
    min-height: calc(100vh - 70px);
    height: auto;
    max-height: unset
  }
  .main-page__content__left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 450px;
    margin-top: auto;
    padding: 20px 0 0
  }
}
@media (max-width:500px) {
  .main-page__content__left-side {
    max-width: 100%
  }
}
.main-page__content__right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  position: relative
}
@media (max-width:991px) {
  .main-page__content__right-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100% + 122px);
    max-width: calc(100% + 122px);
    margin: 0 -61px
  }
}
.main-page__content__right-side .main-slider {
  position: absolute;
  height: calc(100% + 116px);
  width: 588px;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 50px 0
}
@media (max-width:1800px) {
  .main-page__content__right-side .main-slider {
    height: 100%;
    padding: 0
  }
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider {
    max-width: 370px;
    padding: 20px 0
  }
}
@media (max-width:991px) {
  .main-page__content__right-side .main-slider {
    max-width: 100%;
    position: relative;
    height: auto;
    padding: 50px 61px;
    width: 100%
  }
  .main-page__content__right-side .main-slider .slide-item {
    max-width: 258px
  }
}
@media (max-width:767px) {
  .main-page__content__right-side {
    max-width: calc(100% + 40px);
    margin: 0 -20px
  }
  .main-page__content__right-side .main-slider {
    padding: 50px 20px
  }
}
@media (max-width:639px) {
  .main-page__content__right-side {
    max-width: calc(100% + 30px);
    margin: 0 -15px
  }
  .main-page__content__right-side .main-slider {
    padding: 40px 15px 30px
  }
}
.main-page__content__right-side .main-slider .slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 344px
}
.main-page__content__right-side .main-slider .slide-item:nth-of-type(3n+1) .descr-block {
  background-color: var(--accent-color)
}
.main-page__content__right-side .main-slider .slide-item:nth-of-type(2n) .descr-block {
  background-color: var(--main-color)
}
.main-page__content__right-side .main-slider .slide-item:nth-of-type(3n) .descr-block {
  background-color: var(--blue-color)
}
.main-page__content__right-side .main-slider .slide-item .descr-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 220px);
  flex: 0 0 calc(100% - 220px);
  max-width: calc(100% - 220px);
  color: #fff;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
@media (max-width:1335px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block {
    padding: 30px
  }
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider .slide-item {
    height: auto
  }
  .main-page__content__right-side .main-slider .slide-item .descr-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 132px);
    flex: 0 0 calc(100% - 132px);
    max-width: calc(100% - 132px);
    padding: 40px 30px 35px
  }
}
.main-page__content__right-side .main-slider .slide-item .descr-block .item-title {
  font-family: Oswald,sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 120%
}
.main-page__content__right-side .main-slider .slide-item .descr-block .item-adress {
  margin-top: 38px
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block .item-title {
    font-size: 18px
  }
  .main-page__content__right-side .main-slider .slide-item .descr-block .item-adress {
    margin-top: 28px
  }
}
@media (max-width:1023px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block {
    padding: 30px
  }
  .main-page__content__right-side .main-slider .slide-item .descr-block .item-adress {
    margin-top: 25px
  }
}
.main-page__content__right-side .main-slider .slide-item .descr-block .phone-link {
  display: inline-block;
  color: #fff;
  margin-top: 10px
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block .phone-link {
    margin-top: 15px
  }
}
@media (max-width:1023px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block .phone-link {
    margin-top: 10px
  }
}
.main-page__content__right-side .main-slider .slide-item .descr-block .order-btn {
  color: #fff;
  padding: 20px 42px;
  margin-top: 50px;
  position: relative
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block .order-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    margin-top: 37px
  }
}
@media (max-width:1023px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block .order-btn {
    margin-top: 25px
  }
}
@media (max-width:991px) {
  .main-page__content__right-side .main-slider .slide-item .descr-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 28px 20px
  }
  .main-page__content__right-side .main-slider .slide-item .descr-block .order-btn {
    width: auto;
    padding: 20px;
    position: relative;
    left: 5px
  }
  .main-page__content__right-side .main-slider .slide-item .image-block {
    display: none
  }
}
.main-page__content__right-side .main-slider .slide-item .descr-block .order-btn .link-line {
  position: absolute;
  top: -10px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px)
}
.main-page__content__right-side .main-slider .slide-item .descr-block .order-btn .link-line path {
  stroke: #fff
}
.main-page__content__right-side .main-slider .slide-item .descr-block .order-btn:hover .link-line path {
  -webkit-animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow;
  animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow
}
.main-page__content__right-side .main-slider .slide-item .image-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  max-width: 220px;
  overflow: hidden;
  position: relative
}
.main-page__content__right-side .main-slider .slide-item .image-block:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(235,171,154,.2)
}
.main-page__content__right-side .main-slider .slide-item .image-block .item-image {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0;
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
  -o-transition: transform .7s;
  transition: transform .7s,-webkit-transform .7s
}
.main-page__content__right-side .main-slider .slide-item:hover .image-block .item-image {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15)
}
.main-page.restaurant-page .main-page__title {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 80px;
  line-height: 120%;
  margin-bottom: 35px
}
@media (max-width:1335px) {
  .main-page.restaurant-page .main-page__title {
    font-size: 62px
  }
}
@media (max-width:1199px) {
  .main-page__content__right-side .main-slider .slide-item .image-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 132px;
    flex: 0 0 132px;
    max-width: 132px;
    overflow: hidden
  }
  .main-page__content__right-side .main-slider .slide-item .image-block .item-image {
    height: 100%;
    width: auto;
    max-width: unset;
    position: absolute;
    top: 0;
    left: 0
  }
  .main-page.restaurant-page .main-page__title {
    font-size: 50px
  }
}
@media (max-width:575px) {
  .header__content .hamburger {
    margin: 0 0 0 20px
  }
  .main-page__title {
    font-size: 40px
  }
  .main-page__content__right-side .main-slider .slide-item {
    max-width: 238px
  }
  .main-page.restaurant-page .main-page__title {
    font-size: 40px
  }
}
.main-page.restaurant-page .main-page__btn {
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 20px 42px;
  margin-bottom: 30px
}
.main-page.restaurant-page .main-page__btn .link-line {
  position: absolute;
  top: -10px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px)
}
.main-page.restaurant-page .main-page__btn:hover .link-line path {
  -webkit-animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow;
  animation: .5s cubic-bezier(.47,0,.745,.715) both link-arrow
}